workflows/Study If Node.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Down",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "If Age",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Age": {
      "main": [
        [
          {
            "node": "Young",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Old",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Input Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Approval Supervisor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Approval Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Approval General Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Approval Vice President",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Approval Director",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Status": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-05T01:43:15.303Z",
  "id": "q2LkjvQcz9QVBDW3",
  "isArchived": false,
  "meta": null,
  "name": "Study If Node",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -920,
        -80
      ],
      "id": "d61fcbf6-5f11-4e16-becc-4dadb9ff6115",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://indobumilavanaa.id",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -700,
        -80
      ],
      "id": "052c56cf-f167-4618-8a99-9dc0b9e5c418",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cfc66204-a274-4e6f-ae2b-f998ea872301",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "7d70f47f-2444-4013-bf1b-2ac0793c2c1f",
              "leftValue": "={{ $json.statusMessage }}",
              "rightValue": "OK",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        -80
      ],
      "id": "5a28de47-74e6-45d7-b1cd-0e1126cd7463",
      "name": "If",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        -180
      ],
      "id": "608bb6fa-af08-43c6-b2fe-1efe5d5c4ad7",
      "name": "Up",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        20
      ],
      "id": "242c198d-50e3-4035-90aa-168ca0296dbf",
      "name": "Down",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -920,
        380
      ],
      "id": "c02c6c59-d90c-46ca-aab0-7a743e4ff6a3",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "691ee3ea-7ba9-4bf8-9c53-111162a5e27f",
              "name": "JobSeeker",
              "value": 50,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -700,
        380
      ],
      "id": "cb25bc38-09e3-4270-a2d2-1c27f14c5d73",
      "name": "Input",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "18c7576a-4050-4fa2-be2b-141c7ba872c7",
              "leftValue": "={{ $json.JobSeeker }}",
              "rightValue": 35,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        380
      ],
      "id": "b92a6ef6-63d1-4cb0-9964-e9f64cc134fb",
      "name": "If Age",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        280
      ],
      "id": "ccaa09ff-8d11-44c7-b768-dc6ff6853277",
      "name": "Young",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        480
      ],
      "id": "47193ea6-6097-4d9b-adf7-878346c9af4f",
      "name": "Old",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -920,
        1600
      ],
      "id": "c20d0897-3895-45a1-a554-0e3db3115130",
      "name": "Schedule Trigger1",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "c161c148-453e-4ce0-b57a-ab84807c0158"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cfd67b37-2781-4fde-a048-79ceaf778a7d",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "67cb4f95-4154-45db-8130-1239ec09d193",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "825a8659-56c9-4bf1-adb7-d0709a7e8e0a",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "606eb05c-bab2-4488-9406-f995d54ea22f",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -480,
        1560
      ],
      "id": "2834621a-8c75-49e6-b8ed-307f3ff4a6be",
      "name": "Switch",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        1200
      ],
      "id": "29bf0458-7647-4e06-8d7d-349b7571c86e",
      "name": "Approval Supervisor",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        1400
      ],
      "id": "488d2622-59ba-4043-99fe-4d18a248fb27",
      "name": "Approval Manager",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26eba34d-3243-456a-bdd6-82c4f72772a6",
              "name": "status",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -700,
        1600
      ],
      "id": "1413f2ce-4805-45b8-a9a2-f3491ec0bcd9",
      "name": "Input Status",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        1600
      ],
      "id": "4c9b2c82-29eb-4b7b-b9c0-3d2b0174e1a9",
      "name": "Approval General Manager",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        1800
      ],
      "id": "4029ff4f-7dc4-409e-b2ba-b76bcc29cae4",
      "name": "Approval Vice President",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        2000
      ],
      "id": "63ca6b14-8c2c-4ac8-86c1-1eaf6888351f",
      "name": "Approval Director",
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-05T01:43:15.306Z",
      "updatedAt": "2025-07-05T01:43:15.306Z",
      "role": "workflow:owner",
      "workflowId": "q2LkjvQcz9QVBDW3",
      "projectId": "OvJ502o4d8UTml2X"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-05T01:43:18.000Z",
  "versionId": "e607cc7b-4b27-44d7-9f48-e3a2f3c88ef7"
}